@import "nullstyle.scss";

@font-face {
    font-family: 'Graphik LCG';
    src:
        url('./../../fonts/GraphikLCG-Bold.woff2') format('woff2'),
        url('./../../fonts/GraphikLCG-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src:
        url('./../../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('./../../fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src:
        url('./../../fonts/GraphikLCG-Medium.woff2') format('woff2'),
        url('./../../fonts/GraphikLCG-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LCG';
    src:
        url('./../../fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('./../../fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Graphik LCG';
    background-color: #ffffff;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    height: 80px;
    width: 100%;
    padding: 0 30px;

    .header__container {
        display: flex;
        justify-content: space-between;
        height: 100%;

        .header__container__start {
            display: flex;
            align-items: center;

            .header__container__start__logo {
                width: 104px;
                height: 24px;
            }

            .header__container__start__menu {
                display: flex;
                justify-content: space-between;
                height: 24px;
                width: 33.64vw;
                margin-left: 5.2vw;

                .header__container__start__menu__selectGroup {
                    display: flex;
                    width: 33.64vw;
                    min-width: 560px;
                    justify-content: space-between;
                    line-height: 20px;
                    letter-spacing: 0em;

                    select.select {
                        font-size: 18px;
                        line-height: 20px;
                        font-family: 'Graphik LCG';
                        letter-spacing: 0em;
                    }

                    .select-arrowNone {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                    }
                }
            }
        }

        .header__container__buttonGroup {
            display: flex;
            justify-content: center;
            align-items: center;

            .burger {
                display: none;
            }

            .button__demo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 236px;
                height: 42px;
                padding: 10px 18px 10px 15px;
                border-radius: 4px;
                background: none;
                margin-left: 10px;

                p {
                    line-height: 18px;
                    letter-spacing: 0em;
                    font-family: "Graphik LCG";
                    font-size: 18px;
                    margin-left: 8px;
                }
            }

            .button__open {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 92px;
                height: 42px;
                margin-left: 10px;
                padding: 12px 20px;
                border-radius: 4px;
                border: 1px solid #0515344D;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0em;
                background: #ffffff;
            }

            .button__register {
                margin-left: 10px;
                width: 221px;
                height: 42px;
                padding: 2px 20px;
                border-radius: 4px;
                font-size: 18px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                background-color: #0F8FF9;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 1400px) {
    .header {
        padding: 0 30px;

        .header__container {
            .header__container__start {
                .header__container__start__menu {
                    display: none;
                }
            }

            .header__container__buttonGroup {
                display: flex;
                flex-direction: row-reverse;

                .burger {
                    display: block;
                    margin-left: 30px;
                }

                .button__demo {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 601px) {
        .header {
            position: relative;

            .header__container {
                display: flex;
                align-items: center;
                justify-content: center;

                .header__container__buttonGroup {

                    .burger {
                        position: absolute;
                        top: 28px;
                        right: 15px;
                    }

                    .button__open {
                        display: none;
                    }

                    .button__register {
                        display: none;
                    }
                }
            }
        }
    }
}

// main
.main {
    padding-top: 150px;
    background-color: #FBFBFB;

    .main__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .main__container__header {
            h1.main__container__header__title {
                text-align: center;
                font-size: 65px;
                font-weight: 700;
                line-height: 72px;
                letter-spacing: -0.01em;
                color: #051534;
            }

            .main__container__header__subtitle {
                max-width: 830px;
                margin: 0 23px;
                text-align: center;
                font-size: 22px;
                line-height: 33px;
                color: #051534;
                margin-top: 20px;
                letter-spacing: 0em;
            }

            .main__container__header__button {
                display: flex;
                align-items: center;
                margin: 40px auto 70px;
                width: 374px;
                height: 60px;
                padding: 18px 28px 18px 28px;
                border-radius: 4px;
                background-color: #00C064;
                font-family: "Graphik LCG";
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0em;
                color: #ffffff;
            }
        }

        .main__container__boxImg {
            display: flex;
            justify-content: center;
            max-width: 922px;

            .main__container__img {
                max-width: 922px;
                width: 100%;
                height: auto;
            }
        }

        .main__container__boxImg-forMobile {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .main {
        padding-top: 120px;

        .main__container__boxImg {
            .main__container__img {
                width: auto;
            }
        }
    }
}

@media (max-width: 601px) {
    .main {
        padding-top: 70px;

        .main__container {
            .main__container__header {
                h1.main__container__header__title {
                    font-size: 40px;
                    line-height: 46px;
                    letter-spacing: -0.01em;
                }

                .main__container__header__subtitle {
                    font-size: 18px;
                    line-height: 27px;
                }

                .main__container__header__button {
                    font-size: 18px;
                    line-height: 18px;
                    width: 278px;
                    height: 42px;
                    padding: 12px 20px;
                    margin-top: 25px;
                    margin-bottom: 40px;
                }
            }

            .main__container__boxImg {
                display: none;
            }

            .main__container__boxImg-forMobile {
                display: block;
            }
        }
    }
}

// wrap
.wrap {
    width: auto;
    height: auto;
    margin: 200px 0;

    .wrap__container {
        width: 100%;

        .wrap__container__top {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 200px;
            margin-bottom: 200px;

            .wrap__container__top__boxImg {
                .wrap__container__top__img {
                    width: 200px;
                    height: 200px;
                    background-color: #F9F9F9;
                    border-radius: 50px;
                }
            }

            .wrap__container__top__text {
                font-size: 32px;
                font-weight: 400;
                line-height: 48px;
                letter-spacing: 0em;
                margin-left: 40px;
                max-width: 900px;
                color: #051534;

                span {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 48px;
                    margin-left: 40px;
                    color: #051534;
                    margin-left: 0;
                }
            }
        }

        .wrap__container__bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: auto;

            .wrap__container__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;

                .wrap__container__info__title {
                    color: #051534;
                    font-size: 45px;
                    font-weight: 600;
                    line-height: 50px;
                    letter-spacing: -0.005em;
                    margin: 20px 0;
                }

                .wrap__container__info__text {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 33px;
                    letter-spacing: 0em;
                    margin-bottom: 20px;
                }
            }

            .wrap__container__boxImg {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;

                .wrap__container__img {
                    max-width: 558px;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .wrap {
        margin: 0 30px;
        height: auto;
        margin-top: 150px;

        .wrap__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .wrap__container__top {
                flex-direction: column;
                height: auto;
                margin-bottom: 130px;

                .wrap__container__top__text {
                    text-align: center;
                    margin-left: 0;
                    margin-top: 40px;
                }
            }

            .wrap__container__bottom {
                flex-direction: column;

                .wrap__container__info {
                    width: 100%;

                    .wrap__container__info__title {
                        text-align: center;
                    }

                    .wrap__container__info__text {
                        text-align: center;
                    }
                }

                .wrap__container__boxImg {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                    .wrap__container__img {
                        max-width: 558px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 601px) {
    .wrap {
        margin-top: 100px;

        .wrap__container {

            .wrap__container__top {
                margin-bottom: 80px;

                .wrap__container__top__boxImg {
                    display: flex;
                    justify-content: center;
                    margin: 0;

                    .wrap__container__top__img {
                        max-width: 150px;
                        height: 163px;
                        margin-bottom: 20px;
                    }
                }

                .wrap__container__top__text {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 33px;
                    margin-top: 0;

                    span {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }

            .wrap__container__bottom {
                .wrap__container__info {
                    .wrap__container__info__title {
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 36px;
                        letter-spacing: -0.005em;
                        margin-bottom: 15px;
                    }

                    .wrap__container__info__text {
                        font-size: 18px;
                        line-height: 27px;
                        text-align: left;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

// section
.section {
    height: auto;

    .section__container {
        display: flex;

        .section__container__img {
            max-width: 558px;
            height: auto;
        }

        .section__container__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 82px;

            .section__container__info__title {
                color: #051534;
                font-size: 45px;
                font-weight: 600;
                line-height: 50px;
                letter-spacing: -0.005em;
            }

            .section__container__info__text {
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
            }

            p {
                margin-top: 20px;
            }
        }
    }
}


@media (max-width: 991px) {
    .section {
        margin-top: 150px;
        padding: 0 30px;

        .section__container {
            flex-direction: column-reverse;

            .section__container__boxImg {
                display: flex;
                justify-content: center;

                .section__container__img {
                    max-width: 558px;
                    width: 100%;
                    height: auto;
                }
            }

            .section__container__info {
                margin-left: 0;
                margin-bottom: 40px;

                .section__container__info__title {
                    display: flex;
                    text-align: center;
                }

                .section__container__info__text {
                    display: flex;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 601px) {
    .section {
        padding: 0 15px;
        margin-top: 100px;

        .section__container {

            .section__container__info {
                margin-bottom: 20px;

                .section__container__info__title {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 36px;
                    letter-spacing: -0.005em;
                    text-align: left;
                }

                .section__container__info__text {
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 15px;
                }
            }
        }
    }
}

// aside
.aside {
    margin-top: 200px;

    .aside__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .aside__container__header {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 946px;
            text-align: center;
            align-items: center;

            .aside__container__header__title {
                font-size: 45px;
                font-weight: 600;
                line-height: 50px;
                letter-spacing: -0.005em;
                width: 68%;
            }

            .aside__container__header__text {
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 60px;
            }
        }

        .aside__container__video {
            .aside__container__video__boxImg {
                .aside__container__video__img {
                    width: 100%;
                    height: auto;
                }
            }

            .aside__container__video__box {
                video {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .aside {
        margin-top: 150px;

        .aside__container {
            .aside__container__header {
                .aside__container__header__text {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 601px) {
    .aside {
        margin-top: 100px;
        padding: 0 15px;

        .aside__container {
            .aside__container__header {

                .aside__container__header__title {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 36px;
                    letter-spacing: -0.005em;
                    text-align: left;
                    width: 100%;
                }

                .aside__container__header__text {
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-top: 15px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// wrapper
.wrapper {
    margin-top: 220px;

    .wrapper__section__container {
        display: flex;
        margin-bottom: 250px;

        .wrapper__section__container__img {
            height: 540px;
            width: 558px;
        }

        .wrapper__section__container__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 82px;

            .wrapper__section__container__info__title {
                color: #051534;
                font-size: 45px;
                font-weight: 600;
                line-height: 50px;
                letter-spacing: -0.005em;
            }

            .wrapper__section__container__info__text {
                font-size: 22px;
                font-weight: 400;
                line-height: 33px;
                letter-spacing: 0em;
            }

            p {
                margin-top: 20px;
            }
        }
    }

    .wrapper__section__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .wrapper__section__header__title {
            font-size: 55px;
            font-weight: 600;
            line-height: 61px;
            letter-spacing: -0.005em;
            text-align: center;
            color: #051534;
            width: 946px;
        }

        .wrapper__section__header__subtitle {
            color: #051534;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
            width: 752px;
            height: 66px;
            margin: 20px 0 30px;
        }

        .wrapper__section__header__button {
            width: 289px;
            height: 60px;
            padding: 18px 28px 18px 28px;
            border-radius: 4px;
            background-color: #00C064;
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            color: #FFFFFF;
        }
    }
}

@media (max-width: 991px) {
    .wrapper {
        padding: 0 30px;
        margin-top: 150px;

        .wrapper__section {
            .wrapper__section__container {
                flex-direction: column;
                margin-bottom: 200px;

                .wrapper__section__container__info {
                    margin-right: 0;

                    .wrapper__section__container__info__title {
                        font-size: 45px;
                        line-height: 50px;
                        letter-spacing: -0.005em;
                        text-align: center;
                    }

                    .wrapper__section__container__info__text {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 33px;
                        letter-spacing: 0em;
                        text-align: center;
                    }
                }

                .wrapper__section__container__boxImg {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;


                    .wrapper__section__container__img {

                        max-width: 558px;
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .wrapper__section__header {
                .wrapper__section__header__title {
                    width: auto;
                }

                .wrapper__section__header__subtitle {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 601px) {
    .wrapper {
        padding: 0 15px;
        margin-bottom: 100px;
        margin-top: 100px;

        .wrapper__section {
            .wrapper__section__container {
                margin-bottom: 100px;

                .wrapper__section__container__info {
                    .wrapper__section__container__info__title {
                        font-size: 30px;
                        line-height: 36px;
                        letter-spacing: -0.005em;
                        text-align: left;
                    }

                    .wrapper__section__container__info__text {
                        font-size: 18px;
                        line-height: 27px;
                        text-align: left;
                        margin-top: 15px;
                    }
                }

                .wrapper__section__container__boxImg {
                    margin-top: 20px;
                }
            }

            .wrapper__section__header {
                .wrapper__section__header__title {
                    font-size: 30px;
                    line-height: 36px;
                    letter-spacing: -0.005em;
                    text-align: left;
                }

                .wrapper__section__header__subtitle {
                    font-size: 18px;
                    line-height: 27px;
                    text-align: left;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// footer
.footer {
    background-color: #051534;
    min-height: 800px;
    height: auto;
    width: 100%;
    padding-top: 60px;
    margin-top: 250px;

    .footer__container {
        .footer__container__top {
            display: flex;
            text-align: start;
            height: 111px;

            .footer__container__top__text {
                font-size: 22px;
                line-height: 26px;
                letter-spacing: 0em;
                color: #ffffff;
                margin-left: 15px;

                span {
                    display: block;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 26px;
                    letter-spacing: 0em;
                }
            }

            .footer__container__boxImg {
                width: 44px;
                height: 45px;

                .footer__container__img {
                    width: 44px;
                    height: 44px;
                }
            }
        }

        .nav {

            // margin-bottom: 100px;
            .footer__container__items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .footer__container__item {
                    .fw700 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 700;
                        color: #ffffff;
                        font-family: "Graphik LCG";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        letter-spacing: 0em;
                        padding-top: 0;
                        width: 100%;

                        .footer__container__item-arrow {
                            display: none;
                            pointer-events: none
                        }
                    }

                    .footer__container__item-link-pt10 {
                        padding-top: 10px;
                    }

                    .footer__container__item-link-pt0 {
                        padding-top: 30px;
                    }

                    ul {
                        display: flex;
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;

                        li {
                            width: 100%;

                            a {
                                padding-top: 15px;
                                color: #8394B5;
                                display: block;
                                padding-left: 0;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0em;
                            }

                            .footer__container__item-lint-img {
                                display: flex;

                                img {
                                    width: 15px;
                                    height: 17px;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                .footer__container__item-displayBlock600 {
                    display: none;

                    ul {
                        li {
                            .fw500 {
                                font-weight: 500;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }

        .footer__container__bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 100px;

            .footer__container__bottom__boxImg {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 64px;
                border-bottom: 1px solid rgba(252, 245, 245, .1);

                .footer__container__bottom__boxImg__left {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 20px;
                    }
                }

                .footer__container__bottom__boxImg__right {
                    display: flex;

                    .footer__container__bottom__boxImg__right__boxAppStore {
                        display: flex;
                        padding: 10px 11px;
                        border-radius: 8px;
                        border: 2px solid #FFFFFF33;
                        margin-right: 10px;

                        P {
                            display: flex;
                            align-items: center;
                            color: #ffffff;
                            margin-left: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 14px;
                            letter-spacing: 0em;
                        }
                    }

                    .footer__container__bottom__boxImg__right__boxGooglePlay {
                        display: flex;
                        padding: 10px 11px;
                        border-radius: 8px;
                        border: 2px solid #FFFFFF33;

                        P {
                            display: flex;
                            align-items: center;
                            color: #ffffff;
                            margin-left: 8px;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 14px;
                            letter-spacing: 0em;
                        }
                    }
                }
            }

            .footer__container__bottom__boxImg2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 72px;

                .footer__container__bottom__boxImg2__left {
                    display: flex;

                    p {
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0em;
                        color: #ffffff85;
                        margin-right: 20px;
                    }
                }

                .footer__container__bottom__boxImg2__right {
                    display: flex;

                    img {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .footer {
        margin-top: 200px;

        .footer__container {
            margin: 0 30px;

            .footer__container__top {
                max-height: 101px;

                .footer__container__boxImg {
                    position: relative;
                }
            }

            .nav {
                .footer__container__items {
                    .footer__container__item {
                        width: 50%;
                        padding-bottom: 40px;
                    }

                    .footer__container__item-mt-50 {
                        margin-top: -110px;
                    }
                }
            }

            .footer__container__bottom {
                margin-top: 40px !important;

                .footer__container__bottom__boxImg {
                    border-bottom: none !important;
                }

                .footer__container__bottom__boxImg2 {

                    .footer__container__bottom__boxImg2__right {
                        position: absolute;
                        right: 30px;
                        top: 60px;
                    }
                }
            }
        }
    }
}

@media (max-width: 601px) {
    .footer {
        min-height: 625px;
        height: auto;
        padding-top: 50px;
        margin-top: 0;

        .footer__container {
            margin: 0 18px;

            .footer__container__top {

                .footer__container__boxImg {
                    position: static;
                }
            }

            .nav {
                .footer__container__items {
                    flex-direction: column;

                    .footer__container__item {
                        padding-bottom: 15px;
                        width: 100%;

                        .fw700 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                            letter-spacing: 0em;

                            .footer__container__item-arrow {
                                display: block;
                            }
                        }

                        ul {
                            display: none;
                            margin-bottom: 10px;
                        }
                    }

                    .open-close {
                        ul {
                            display: block;
                        }

                        img:first-child {
                            transform: rotate(180deg);
                        }
                    }

                    .footer__container__item-displayBlock600 {
                        display: block;
                    }

                    .displayBlock {
                        display: none;
                    }
                }
            }

            .footer__container__bottom {
                margin-top: 5px !important;

                .footer__container__bottom__boxImg {

                    .footer__container__bottom__boxImg__left {
                        display: none;
                    }
                }

                .footer__container__bottom__boxImg2 {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    height: auto;
                    margin-bottom: 25px;

                    .footer__container__bottom__boxImg2__left {
                        flex-direction: column;

                        .footer__container__bottom__boxImg2__text {
                            color: #ffffff;
                        }

                        p {
                            margin-top: 10px;
                        }
                    }

                    .footer__container__bottom__boxImg2__right {
                        position: static;

                        img {
                            margin-left: 0;
                            margin-right: 30px;
                            margin-top: 30px;
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}